import libraries

In [2]:
import pandas as pd

check dataset

In [3]:
df = pd.read_csv('simulated_judi_dataset.csv')
df.head()

,amount,transaction_type,merchant_category,location,device_used,is_fraud,time_since_last_transaction,velocity_score,geo_anomaly_score,keyword_match
0,359359,transfer,others,Surabaya,iOS,0,419,0.84,0.59,0
1,40660,purchase,others,Medan,Android,0,233,0.87,0.53,0
2,204148,purchase,entertainment,Jakarta,Android,1,599,0.43,0.47,1
3,136986,purchase,entertainment,Medan,Windows,1,224,0.79,0.58,1
4,21520,purchase,entertainment,Jakarta,Android,1,61,0.98,0.91,1